# Cache files (keep eps_cache and rates_cache for deployment)
eps_history/
rates_history/
__pycache__/
*.pyc

# Environment
.env
.env.txt

# IDE
.vscode/
.idea/

# ngrok
ngrok.yml

# OS
Thumbs.db
.DS_Store
*.xlsx
Options/
